{% extends "bootstrap/base.html" %}
{% block title %}CumulusCI OAuth Tool{% endblock %}

{% block content %}
  <div class="jumbotron"><h1>CumulusCI OAuth Tool</h1></div>

  <div class="container">
    <div class="row">

      <h1>Success!</h1>

      <p>Use the following environment variables to configure the CumulusCI package_upload.py script.  If you are using Codeship to automate builds, set these environment variables in the Environment section of your project's configuration</p>
 
      <pre>
OAUTH_CLIENT_ID={{ client_id }}
OAUTH_CLIENT_SECRET={{ client_secret }}
OAUTH_CALLBACK_URL={{ callback_url }}
REFRESH_TOKEN={{ refresh_token }}
INSTANCE_URL={{ instance_url }}
      </pre>

      <p>You can test that the access token works (until it expires) by logging out of your org then going to <a href="{{ instance_url }}/secur/frontdoor.jsp?sid={{ access_token }}">{{ instance_url }}/secur/frontdoor.jsp?sid={{ access_token }}</a></p>
    </div>
  </div>

{% endblock %}
